@model WebApplication5.Models.TaskViewModels.IndexViewModel

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Deadline
                </th>
                <th>
                    Description
                </th>
                <th>
                    Protocol Description
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.List)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Deadline)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProtocolDescription)
                    </td>
                    <td>
                        @if (item.Status)
                        {
                            <p style="color: greenyellow">Completed</p>
                        }
                        else
                        {
                            <p style="color: red">Incomplete</p>
                        }
                    </td>
                    <td>
                        <a asp-action="Complete" asp-route-id="@item.TaskId">Complete</a> |
                        <a asp-action="Edit" asp-route-id="@item.TaskId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.TaskId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.TaskId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
